<div class="container">
    <div class="item row item-list" ng-class="{selectedElement: openedItemId == item.$id, firstItem: $first, lastItem: $last}" ng-repeat="item in getItems(storage.donehidden) | orderBy: orderVariable" ng-click="selectItem(item)">
        <div class="" >
            <span ng-class="{itemdone: item.done || undoItemId == item.$id}" ng-hide="editItem.$id == item.$id">
                {{ item.title }}
            </span>
            <span ng-show="editItem.$id == item.$id">
                <input class="form-control editArea" type="text" ng-model="item.title" ng-click="$event.stopPropagation()">
            </span>
            <!--<div class="btn-group pull-right" role="group" ng-show="undoItemId == item.$id" ng-dblclick="$event.stopPropagation()">
                <button type="button" class="btn btn-success btn-xs confirmButton" ng-click="addConfirmed(item); $event.stopPropagation()">Add</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="cancelAdd(item); $event.stopPropagation()">Cancel</button>
            </div>-->
            <div class="pull-right test" ng-hide="editItem.$id == item.$id" ng-click="$event.stopPropagation()">
                <input type="checkbox" ng-model="item.done" ng-change="update(item)">
            </div>
        </div>
        <div class="slide-element settings-element" ng-class="{lastItem: $last}" ng-show="openedItemId == item.$id" ng-click="$event.stopPropagation()">

                <div class="row settingArea">
                    <button class="btn btn-sm btn-default settingsButton" ng-disabled="!item.done" ng-click="addConfirmed(item)">Undo</button>
                    <button class="btn btn-sm btn-danger pull-right" ng-click="deleteItem(item)">Delete</button>
                    <p class="pull-left settingsLabel">Edit</p>
                    <div class="pull-left">
                        <input id="toggle + {{item.$id}}" ng-model="isEditable" ng-checked="editItem.$id == item.$id" ng-click="selectEditItem(isEditable, item)"  class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                        <label for="toggle + {{item.$id}}"></label>
                    </div>
                </div>
        </div>
    </div>
</div>




