<div class="container">
    <div class="item row item-list" ng-repeat="item in getItems(storage.donehidden)">
        <div class="col-xs-1">
        </div>
        <div class="col-md-9 col-xs-11">
            <div class="clearfix">
                <span ng-class="{itemdone: item.done || undoItemId == item.$id}">
                    {{ item.title }}
                </span>
                <input type="checkbox" ng-hide="undoItemId == item.$id" ng-model="item.done" class="pull-right" ng-click="update(item)">

                <div class="btn-group pull-right" role="group" ng-show="undoItemId == item.$id">
                    <button type="button" class="btn btn-success btn-xs confirmButton" ng-click="addConfirmed(item)">Add</button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="cancelAdd(item)">Cancel</button>
                </div>
                    <!--<span ng-hide="item.done" class="pull-right">
                   <a ng-click="setDone(item)" >done</a>
                </span>-->
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

