<div class="container">
    <div class="item row item-list" ng-class="{selectedElement: openedItemId == item.$id}" ng-repeat="item in getItems(storage.donehidden) | orderBy: orderVariable" ng-click="dbClickItem(item)">
        <div class="clearfix" >
            <span ng-class="{itemdone: item.done || undoItemId == item.$id}" ng-hide="isEditModeEnabled">
                {{ item.title }}
            </span>
            <span ng-show="isEditModeEnabled">
                <input class="form-control" type="text" ng-model="item.title" ng-click="$event.stopPropagation()">
            </span>
            <div class="btn-group pull-right" role="group" ng-show="undoItemId == item.$id" ng-dblclick="$event.stopPropagation()">
                <button type="button" class="btn btn-success btn-xs confirmButton" ng-click="addConfirmed(item); $event.stopPropagation()">Add</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="cancelAdd(item); $event.stopPropagation()">Cancel</button>
            </div>
            <div class="pull-right test" ng-hide="undoItemId == item.$id || isEditModeEnabled" ng-click="$event.stopPropagation()">
                <input type="checkbox" ng-model="item.done" ng-mousedown="confirmAdd(item)" ng-click="update(item); $event.stopPropagation()" ng-dblclick="$event.stopPropagation()">
            </div>
        </div>
        <div class="slide-element settings-element" ng-show="openedItemId == item.$id" ng-click="$event.stopPropagation()">
            <button class="btn btn-default settingItem" ng-click="deleteItem(item)">Delete</button>
<!--
                <input id="toggle + {{item.$id}}" ng-model="item.done" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="toggle + {{item.$id}}"></label>
-->
        </div>
    </div>
</div>



